body {
  font-family: 'Roboto', sans-serif;
  background-color: #393e46; }

/* CSS HOME */
.row .col-sm-4, .row .imgMovinOn, .row .rowHome, .artistas .destacados, .imgMain .recomendaciones, .samples, .ubicacion, .formularioEventos, .row .imgSupport, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.row .img-home {
  width: 100px;
  height: 100px;
  grid-column: 2 / 3; }

.row .movin-on {
  width: 400px;
  height: 400px;
  margin: 30px;
  animation-name: movin-on;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.row .rowHome {
  align-items: center; }

.row .newsInfo {
  display: flex;
  align-items: center;
  color: #eeeeee;
  text-align: center;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.artistas .destacados {
  color: #eeeeee;
  margin: 100px;
  text-align: center;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.artistas .cardsArtistas {
  display: flex; }

.artistas .card {
  margin: 10px; }

.imgMain {
  display: grid;
  justify-content: center; }
  .imgMain .recomendaciones {
    color: #eeeeee;
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
  .imgMain .carousel-item {
    width: 300px;
    height: 300px; }

.samples {
  color: #eeeeee;
  margin-top: 100px;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.rounded {
  width: 300px;
  height: 300px;
  margin: 50px; }

footer {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
  color: #030303;
  text-transform: uppercase; }
  footer .spotify .spotify-img {
    width: 30px;
    height: 30px; }

@keyframes movin-on {
  from {
    transform: scale(0.99); }
  to {
    transform: scale(1); } }

.card:hover {
  transform: translateY(-3%); }

/* CSS CONTACTO */
.row .col-sm-4, .row .imgMovinOn, .row .rowHome, .artistas .destacados, .imgMain .recomendaciones, .samples, .ubicacion, .formularioEventos, .row .imgSupport, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.mainContacto {
  margin: 4em;
  text-align: left;
  color: #eeeeee; }
  .mainContacto .textoContactoDuda {
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
    text-align: left;
    color: #eeeeee; }
  .mainContacto span {
    color: #eeeeee; }
  .mainContacto .consulta {
    font-family: 'Bebas Neue', cursive;
    margin: 10px;
    display: flex;
    align-items: flex-start; }
  .mainContacto .textoContactoDemo {
    font-family: 'Bebas Neue', cursive;
    margin-top: 60px;
    text-align: left;
    color: #eeeeee; }
  .mainContacto .demo {
    margin: 10px; }
  .mainContacto .botonDemos {
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 3px 11px -5px;
    cursor: pointer; }

.ubicacion {
  font-family: 'Bebas Neue', cursive;
  margin: 60px;
  text-align: left;
  color: #eeeeee; }

.botonConsultanos {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.botonReserva {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.botonLista {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

section .encuentranos {
  margin: 60px;
  font-family: 'Bebas Neue', cursive;
  text-align: left;
  color: #eeeeee; }

.redes {
  margin: 60px;
  display: flex;
  justify-content: left;
  gap: 15px; }
  .redes .facebook {
    width: 30px;
    height: 30px; }
  .redes .instagram {
    width: 30px;
    height: 30px; }
  .redes .soundcloud {
    width: 30px;
    height: 30px; }

section .oficinas {
  font-family: 'Bebas Neue', cursive;
  margin-top: 60px;
  text-align: left;
  color: #eeeeee; }

section .oficinas {
  margin: 60px;
  display: flex;
  justify-content: left;
  gap: 15px; }

.imgOficinas {
  display: flex;
  margin: 60px;
  display: flex;
  justify-content: left;
  gap: 15px; }

.formulario .sub {
  margin: 60px;
  font-family: 'Bebas Neue', cursive;
  text-align: left;
  color: #eeeeee; }

.formularioContacto .form {
  margin: 60px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: left; }

.formularioContacto input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee; }

.spotifyContacto .imgContacto {
  margin-top: 60px;
  width: 30px;
  height: 30px; }

/* CSS EVENTOS */
.row .col-sm-4, .row .imgMovinOn, .row .rowHome, .artistas .destacados, .imgMain .recomendaciones, .samples, .ubicacion, .formularioEventos, .row .imgSupport, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.container .rowUno {
  display: flex;
  align-items: center; }

.container .eventoUno {
  width: 100%;
  height: 100%;
  margin-block: 13px; }

.container .parrafoUno {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.container .botonUno .botonReserva {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.container .rowDos {
  display: flex;
  align-items: center; }

.container .parrafoDos {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.container .botonDos .botonLista {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.container .eventoDos {
  width: 100%;
  height: 100%;
  margin-block: 13px; }

.container .rowTres {
  display: flex;
  align-items: center; }

.container .eventoTres {
  width: 100%;
  height: 100%;
  margin-block: 13px; }

.container .parrafoTres {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.container .rowCuatro {
  display: flex;
  align-items: center; }

.container .eventoCuatro {
  width: 100%;
  height: 100%;
  margin-block: 13px; }

.container .parrafoCuatro {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

.container .rowCinco {
  display: flex;
  align-items: center; }

.container .eventoCinco {
  width: 100%;
  height: 100%;
  margin-block: 13px; }

.container .parrafoCinco {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

section .booking {
  margin-top: 100px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.formularioEventos .form {
  margin: 60px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: left; }

.formularioEventos .form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee; }

.spotify .imgEventos {
  width: 30px;
  height: 30px; }

/* CSS HISTORIA */
.row .col-sm-4, .row .imgMovinOn, .row .rowHome, .artistas .destacados, .imgMain .recomendaciones, .samples, .ubicacion, .formularioEventos, .row .imgSupport, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

main .quienesSomos {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

main .parrafoHistoria {
  margin: 15px;
  text-align: center;
  font-style: italic;
  color: #ffd369; }

main .queHacemos {
  margin: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

main .parrafoQueHacemos {
  margin: 15px;
  text-align: center;
  font-style: italic;
  color: #ffd369; }

section .support {
  margin: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

section .supporting {
  margin: 20px;
  display: flex;
  justify-content: space-around; }

.row .dj-support {
  margin-top: 3em;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.row .imgSupport {
  margin: 10px; }

.row .imgJuicy {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .imgLuca {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .imgMars {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .more {
  margin: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.spotify .imgHistoria {
  width: 30px;
  height: 30px; }

/* CSS PRODUCTOS */
.row .col-sm-4, .row .imgMovinOn, .row .rowHome, .artistas .destacados, .imgMain .recomendaciones, .samples, .ubicacion, .formularioEventos, .row .imgSupport, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.lanzados .lanzadosRecientes {
  margin: 30px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

.lanzados .cancionSoundcloud {
  margin: 30px;
  justify-content: center; }

.lanzados .textoExplorar {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

.lanzados .explorarCanciones {
  margin: 30px;
  justify-content: center; }

section .freeDownload {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

section .cancionesFree {
  display: flex;
  margin: 10px;
  justify-content: space-around; }

section .proximos {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

section .proximosLanzamientos {
  margin: 10px; }
  section .proximosLanzamientos .imgBootleg {
    width: 300px;
    height: 300px; }

.spotify .imgProductos {
  width: 30px;
  height: 30px; }

/* MEDIAQUERIES */

@media screen and (max-width: 980px) {
  .imgSupport{
      display: grid;
      justify-content: center;
  }
  
}

@media screen and (max-width: 600px){
  .nav-home{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
  }

  .rowHome{
      display: grid;
      justify-content: center;
  }

  .nav-home .img-home{
      margin: 9px auto;
      grid-column: 1 / 9;
  }

  .nav-home .main-home{
      margin: 10px;
      text-align: center;
      grid-column: 1 / 9;
  }

  .nav-home .shop{
      display: none;
  }

  .movinOnSpotify{
      display: block;
      margin: 6px auto; 
  }



  .infoMain{
      margin-top: 0px;
      align-items: center;
      text-align: center;
      display: grid;
      grid-row: 2;
  }

  .movinOnTexto{
      text-align: center;
  }

  .imgMovinOn{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 5px;
  }

  .newsInfo{
      margin: 20px;
      display: flex;
      text-align: center;
  }

  .imgMain{
      display: grid;
  }
  .recomendaciones{
      display: grid;
      margin-top: 60px;
      color: rgb(238, 238, 238);    
      font-style: italic;
      font-family: 'Bebas Neue', cursive;
      text-shadow: black 0.1em 0.1em 0.2em;
  }

  .epic{
      margin: 20px;
      width: 300px;
      height: 300px;
      align-items: right;
  }
  
  .bang{
      margin: 20px;
      width: 300px;
      height: 300px;
      align-items: center;
  }
  
  .shave{
      margin: 20px;
      width: 300px;
      height: 300px;
      align-items: center;
  }

  .cardsArtistas{
      width: 100%;
      display: grid;
      justify-content: center;
  }

  /* --- MEDIAQUERIES CONTACTO */

   .contactoNav .img-home{
      margin: 9px auto;
      grid-column: 1 / 9;
  }

  .contactoNav .contactoLinks{
      margin: 10px;
      text-align: center;
      grid-column: 1 / 9;
  }
  
  .contactoLinks{
      grid-column: 4 / 7;
      list-style: none;
      display: flex; 
      justify-content: space-between; 
      background-color: rgb(34, 40, 49); 
  }
  
  .contactoLinks li a{
      text-decoration: none;
      justify-content: space-around;
  }
  
  .mainContacto{
      margin: 4em;
      text-align: center;
      color: rgb(255, 211, 105);
  }
  
  .textoContactoDuda{
      font-family: 'Bebas Neue', cursive;
      margin-top: 10px;
      text-align: center;
      color: rgb(238, 238, 238);
  }
  
  span{
      color: rgb(255, 211, 105);
  }
  
  .textoContactoDemo{
      font-family: 'Bebas Neue', cursive;
      margin-top: 60px;
      text-align: center;
      color: rgb(238, 238, 238);
  }
  
  .consulta{
      font-family: 'Bebas Neue', cursive;
      margin: 10px;
      display: flex;
      align-items: left;
  }
  
  .demo{
      margin: 10px;
  }

  .consulta{
      display: flex;
      justify-content: center;
  }
  
  .botonConsultanos{
      font-family: 'Bebas Neue', cursive;
      padding: 10px 20px;
      background-color: rgb(238, 238, 238);
      border: none;
      border-radius: 20px;
      margin-top: 10px;
      box-shadow: 1px 3px 11px -5px;
      cursor: pointer;
      align-items: center;
  }
  
  .botonDemos{
      font-family: 'Bebas Neue', cursive;
      padding: 10px 20px;
      background-color: rgb(238, 238, 238);
      border: none;
      border-radius: 20px;
      margin-top: 10px;
      box-shadow: 1px 3px 11px -5px;
      cursor: pointer;
  }
  
  .encuentranos{
      margin: 60px;
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      color: rgb(238, 238, 238);
  }
  
  .redes{
      margin: 60px;
      display: flex;
      justify-content: center;
      gap: 15px;
  }
  
  .instagram{
      width: 30px;
  }
  
  .facebook{
      width: 30px;
  }
  
  .soundcloud{
      width: 30px;
  }
  
  .sub{
      margin: 10px;
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      color: rgb(238, 238, 238);
      
  }
  
  .formularioContacto{
      display: flex;
      justify-content: center;   
  }
  
  /* --- MEDIAQUERIES PRODUCTOS */

  .productos .img-home{
      margin: 9px auto;
      grid-column: 1 / 9;
  }

  .productos .productosLink{
      margin: 10px;
      text-align: center;
      grid-column: 1 / 9;
  }
  
  .productosLink{
      grid-column: 4 / 7;
      list-style: none;
      display: flex; 
      justify-content: space-between; 
      background-color: rgb(34, 40, 49); 
  }

  .productosLink li a{
      text-decoration: none;
      justify-content: space-around;
  }

  .cancionesFree{
      display: grid;
  }

  .goodbye{
      margin: 10px;
  }

  .get-up{
      margin: 10px;
  }

  .work-it{
      margin: 10px;
  }

  /* --- MEDIAQUERIES HISTORIA */

  .historia .img-home{
      margin: 9px auto;
      grid-column: 1 / 9;
  }

  .historia .historiaLinks{
      margin: 10px;
      text-align: center;
      grid-column: 1 / 9;
  }
  
  .historiaLinks{
      grid-column: 4 / 7;
      list-style: none;
      display: flex; 
      justify-content: space-between; 
      background-color: rgb(34, 40, 49); 
  }

  .imgSupport{
      margin: 10px;
      display: grid;
      justify-content: center;
  }

  /* --- MEDIAQUERIES EVENTOS */

  .rowUno{
      margin-top: 30px;
  }

  .rowDos{
      margin-top: 80px;
  }

  .rowTres{
      margin-top: 80px;
  }

  .rowCuatro{
      margin-top: 80px;
  }

  .rowCinco{
      margin-top: 80px;
  }



}
