body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c3333; }

/* CSS HOME */
.row .col-sm-4, .row .logoLetras, .banners .row, .artistas .destacados, .artistas .card .card-body .boton-spotify, .artistas .card .card-body .spotify-link, .ubicacion, .row .imgSupport, .eventosInfo .formularioEventos, .formularioEventos, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.container-fluid {
  background-color: #404646; }

.navegacion {
  display: grid;
  justify-content: end; }

.barraNavegacion ul li a {
  color: azure; }

.row {
  padding: 0; }
  .row .col-sm-4 {
    padding: 0; }
  .row .img-home {
    width: 100px;
    height: 100px;
    grid-column: 2 / 3; }

.row .rowHome {
  display: grid;
  grid-column: 6 / 12;
  align-items: center; }

.row .texto-label {
  padding: 0;
  color: #eeeeee;
  text-align: center;
  font-family: 'Bebas Neue', cursive; }

.banners {
  background-color: #393e46; }
  .banners .row {
    margin-top: 0rem; }
  .banners .movinBanner {
    width: 100%; }
  .banners .yourLove {
    width: 100%; }
  .banners .revolution {
    width: 100%; }

.recomendados {
  background-color: #395b64; }

.artistas .destacados {
  color: #eeeeee;
  margin: 100px;
  text-align: center;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.artistas .card {
  display: grid;
  grid-column: 2;
  margin: 10px; }
  .artistas .card .card-body {
    background-color: #395b64; }
    .artistas .card .card-body .card-title {
      text-align: center;
      font-style: italic;
      font-family: 'Bebas Neue', cursive; }
    .artistas .card .card-body .card-text {
      font-style: italic;
      color: #a5c9ca; }
    .artistas .card .card-body a {
      color: #030303; }
    .artistas .card .card-body .boton-spotify {
      background-color: #e7f6f2;
      width: 40%;
      border: none;
      border-radius: 50px; }

.recomendacionesTexto {
  margin: 10px;
  color: #eeeeee;
  margin-top: 100px;
  text-align: left;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.section-recomendacionesDos .recomendacionesDos .recoDos {
  margin: 10px;
  color: #eeeeee;
  margin-top: 100px;
  text-align: left;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.section-recomendacionesDos .recomendacionesDos .img .filaUno {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  overflow: hidden; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .epic {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .epic:hover {
    transform: scale(1.2); }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .shave {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .shave:hover {
    transform: scale(1.2); }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .bang {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno .bang:hover {
    transform: scale(1.2); }

.section-recomendacionesDos .recomendacionesDos .img .filaDos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  overflow: hidden; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .club-coming-down {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .club-coming-down:hover {
    transform: scale(1.2); }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .for-the-night {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .for-the-night:hover {
    transform: scale(1.2); }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .hope {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos .hope:hover {
    transform: scale(1.2); }

.samples {
  color: #eeeeee;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.rounded {
  width: 300px;
  height: 300px;
  margin: 50px; }

footer {
  background-color: #e7f6f2;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #030303;
  text-transform: uppercase; }
  footer .spotify .spotify-img {
    color: black;
    width: 30px;
    height: 30px; }

.card:hover {
  transform: translateY(-3%); }

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .mainHome {
    display: flex;
    justify-content: center; }
  .row .logoLetras {
    justify-self: center;
    width: 300px;
    height: 300px; }
  .section-recomendacionesDos .recomendacionesDos .recoDos {
    text-align: center; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno {
    display: grid;
    justify-content: center; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos {
    display: grid;
    justify-content: center; } }

@media screen and (max-width: 992px) {
  .section-recomendacionesDos .recomendacionesDos .recoDos {
    text-align: center; }
  .section-recomendacionesDos .recomendacionesDos .img .filaUno {
    display: grid;
    justify-content: center; }
  .section-recomendacionesDos .recomendacionesDos .img .filaDos {
    display: grid;
    justify-content: center; } }

/* CSS CONTACTO */
.row .col-sm-4, .row .logoLetras, .banners .row, .artistas .destacados, .artistas .card .card-body .boton-spotify, .artistas .card .card-body .spotify-link, .ubicacion, .row .imgSupport, .eventosInfo .formularioEventos, .formularioEventos, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.navegacion {
  display: grid;
  justify-content: end; }

.mainContacto {
  margin: 4em;
  text-align: left;
  color: #eeeeee; }
  .mainContacto .textoContactoDuda {
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
    text-align: left;
    color: #eeeeee; }
  .mainContacto span {
    color: #eeeeee; }
  .mainContacto .consulta {
    font-family: 'Bebas Neue', cursive;
    margin: 10px;
    display: flex;
    align-items: flex-start; }
  .mainContacto .textoContactoDemo {
    font-family: 'Bebas Neue', cursive;
    margin-top: 60px;
    text-align: left;
    color: #eeeeee; }
  .mainContacto .demo {
    margin: 10px; }
  .mainContacto .botonDemos {
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 3px 11px -5px;
    cursor: pointer; }

.ubicacion {
  font-family: 'Bebas Neue', cursive;
  margin: 60px;
  text-align: left;
  color: #eeeeee; }

.botonConsultanos {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.botonReserva {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

.botonLista {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px;
  cursor: pointer; }

section .encuentranos {
  margin: 60px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #eeeeee; }

.redes {
  margin: 60px;
  display: flex;
  justify-content: center;
  gap: 15px; }
  .redes .facebook {
    width: 60px;
    height: 60px; }
  .redes .instagram {
    width: 60px;
    height: 60px; }
  .redes .soundcloud {
    width: 60px;
    height: 60px; }

section .oficinas {
  font-family: 'Bebas Neue', cursive;
  margin-top: 60px;
  text-align: center;
  color: #eeeeee; }

section .oficinas {
  margin: 60px;
  display: flex;
  justify-content: center;
  gap: 15px; }

.imgOficinas {
  display: flex;
  margin: 60px;
  justify-content: center;
  gap: 15px; }

.formulario {
  display: flex;
  justify-content: center; }
  .formulario .sub {
    margin: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    color: #eeeeee; }

.formularioContacto .form {
  margin: 60px;
  width: 30vw;
  align-items: left; }

.formularioContacto input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee; }

main .quienesSomos {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

main .parrafoHistoria {
  margin: 15px;
  text-align: center;
  font-style: italic;
  color: #a5c9ca; }

main .queHacemos {
  margin: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

main .parrafoQueHacemos {
  margin: 15px;
  text-align: center;
  font-style: italic;
  color: #a5c9ca; }

section .support {
  margin: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

section .supporting {
  margin: 20px;
  display: flex;
  justify-content: space-around; }

.row .dj-support {
  margin-top: 3em;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.row .imgJuicy {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .imgLuca {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .imgMars {
  width: 300px;
  height: 300px;
  margin: 10px; }

.row .more {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.spotifyContacto .imgContacto {
  width: 30px;
  height: 30px; }

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .container .row .imgSupport {
    display: grid;
    justify-content: center; }
  .formulario {
    display: grid; } }

@media screen and (max-width: 992px) {
  .container .row .imgSupport {
    display: grid;
    justify-content: center; } }

/* CSS EVENTOS */
.row .col-sm-4, .row .logoLetras, .banners .row, .artistas .destacados, .artistas .card .card-body .boton-spotify, .artistas .card .card-body .spotify-link, .ubicacion, .row .imgSupport, .eventosInfo .formularioEventos, .formularioEventos, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.navegacion {
  display: grid;
  justify-content: end; }

.eventosInfo {
  background-color: #5d6666; }
  .eventosInfo .container .rowUno {
    display: flex;
    align-items: center; }
  .eventosInfo .container .eventoUno {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .eventosInfo .container .parrafoUno {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    font-size: 1.5em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
    .eventosInfo .container .parrafoUno .antares {
      font-size: 2rem; }
  .eventosInfo .container .botonUno .botonReserva {
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 3px 11px -5px;
    cursor: pointer; }
  .eventosInfo .container .rowDos {
    display: flex;
    align-items: center;
    background-color: #030303; }
  .eventosInfo .container .parrafoDos {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    font-size: 1.5em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
    .eventosInfo .container .parrafoDos .space {
      font-size: 2rem; }
  .eventosInfo .container .botonDos .botonLista {
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 3px 11px -5px;
    cursor: pointer; }
  .eventosInfo .container .eventoDos {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .eventosInfo .container .rowTres {
    display: flex;
    align-items: center; }
  .eventosInfo .container .eventoTres {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .eventosInfo .container .parrafoTres {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    font-size: 1.5em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
    .eventosInfo .container .parrafoTres .beer-and-music {
      font-size: 2rem; }
  .eventosInfo .container .rowCuatro {
    display: flex;
    align-items: center;
    background-color: #030303; }
  .eventosInfo .container .eventoCuatro {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .eventosInfo .container .parrafoCuatro {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    font-size: 1.5em;
    text-shadow: #222831 0.1em 0.1em 0.2em; }
    .eventosInfo .container .parrafoCuatro .bassement {
      font-size: 2rem; }
  .eventosInfo .container .rowCinco {
    display: flex;
    align-items: center; }
  .eventosInfo .container .eventoCinco {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .eventosInfo .container .parrafoCinco {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
    .eventosInfo .container .parrafoCinco .orbital {
      font-size: 2rem; }
    .eventosInfo .container .parrafoCinco .eventoOrbital {
      font-size: 1rem; }
    .eventosInfo .container .parrafoCinco .botonUno .botonReserva {
      font-family: 'Bebas Neue', cursive;
      padding: 10px 20px;
      background-color: #eeeeee;
      border: none;
      border-radius: 20px;
      margin-top: 10px;
      box-shadow: 1px 3px 11px -5px;
      cursor: pointer; }
  .eventosInfo section .booking {
    margin-top: 100px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #eeeeee;
    font-size: 1.5em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
  .eventosInfo .formularioEventos .form {
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: left; }
  .eventosInfo .formularioEventos .form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #eeeeee;
    color: #eeeeee; }
  .eventosInfo footer {
    background-color: #e7f6f2;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #030303;
    text-transform: uppercase; }
    .eventosInfo footer .spotify .spotify-img {
      color: black;
      width: 30px;
      height: 30px; }

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .rowUno {
    margin-top: 1rem;
    background-color: none; }
  .rowDos {
    margin-top: 10rem; }
  .rowTres {
    margin-top: 2rem;
    background-color: none; }
  .rowCuatro {
    margin-top: 10rem;
    background-color: #030303; }
  .rowCinco {
    margin-top: 2rem; } }

@media screen and (max-width: 992px) {
  .rowUno {
    margin-top: 1rem;
    background-color: none; }
  .rowDos {
    margin-top: 10rem;
    background-color: #030303; }
  .rowTres {
    margin-top: 2rem;
    background-color: none; }
  .rowCuatro {
    margin-top: 10rem;
    background-color: #030303; }
  .rowCinco {
    margin-top: 2rem; } }

/* CSS HISTORIA */
.row .col-sm-4, .row .logoLetras, .banners .row, .artistas .destacados, .artistas .card .card-body .boton-spotify, .artistas .card .card-body .spotify-link, .ubicacion, .row .imgSupport, .eventosInfo .formularioEventos, .formularioEventos, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.navegacion {
  display: grid;
  justify-content: end; }

.studio {
  background-color: #4c5252; }
  .studio .rowUno {
    display: flex;
    align-items: center; }
    .studio .rowUno .homeStudio {
      text-align: center;
      padding: 65px;
      font-family: 'Bebas Neue', cursive;
      color: #eeeeee;
      font-size: 3em;
      text-transform: uppercase;
      text-shadow: #030303 0.1em 0.1em 0.2em; }
  .studio .studio {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .studio .parrafoStudio {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
    font-size: 1em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
  .studio .rowDos {
    display: flex;
    align-items: center; }
  .studio .parrafoDaws {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
    font-size: 1em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
  .studio .daws {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .studio .cajaRows {
    margin-bottom: 8px; }
  .studio .rowTres {
    display: flex;
    align-items: center; }
    .studio .rowTres .nuestrasRecomendaciones {
      margin-block: 90px;
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      color: #eeeeee;
      font-size: 3em;
      text-shadow: #030303 0.1em 0.1em 0.2em; }
  .studio .gabinete {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .studio .parrafoRecomendaciones {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
    font-size: 1em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }
  .studio .rowCuatro {
    display: flex;
    align-items: center; }
  .studio .audio {
    width: 100%;
    height: 100%;
    margin-block: 13px; }
  .studio .parrafoAudio {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
    font-size: 1em;
    text-shadow: #030303 0.1em 0.1em 0.2em; }

section .booking {
  margin-top: 100px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 1.5em;
  text-shadow: #030303 0.1em 0.1em 0.2em; }

.formularioEventos .form {
  margin: 60px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: left; }

.formularioEventos .form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee; }

.derechos {
  background-color: #e7f6f2;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
  color: #030303;
  text-transform: uppercase; }

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .homeStudio {
    text-align: center; } }

/* CSS PRODUCTOS */
.row .col-sm-4, .row .logoLetras, .banners .row, .artistas .destacados, .artistas .card .card-body .boton-spotify, .artistas .card .card-body .spotify-link, .ubicacion, .row .imgSupport, .eventosInfo .formularioEventos, .formularioEventos, section .proximosLanzamientos {
  display: flex;
  justify-content: center; }

.navegacion {
  display: grid;
  justify-content: end; }

.lanzados .lanzadosRecientes {
  margin: 30px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

.lanzados .cancionSoundcloud {
  margin: 30px;
  justify-content: center; }

.lanzados .textoExplorar {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

.lanzados .explorarCanciones {
  margin: 30px;
  justify-content: center; }

section .freeDownload {
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

section .cancionesFree {
  display: flex;
  margin: 10px;
  justify-content: space-around; }

section .proximos {
  display: block;
  margin-top: 90px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #eeeeee;
  font-size: 2em;
  text-shadow: #222831 0.1em 0.1em 0.2em; }

section .proximosLanzamientos {
  margin: 10px; }
  section .proximosLanzamientos .imgBootleg {
    width: 300px;
    height: 300px; }

.spotify .imgProductos {
  width: 30px;
  height: 30px; }
