
/* CSS CONTACTO */

// LISTA

@import "../base/listas";

//MIXIN
@import "../base/mixin";

// EXTEND
@import "../base/extend";

.mainContacto{
    margin: 4em;
    text-align: left;
    color: nth($list: $color, $n: 2);

    .textoContactoDuda{
        font-family: 'Bebas Neue', cursive;
        margin-top: 10px;
        text-align: left;
        color: nth($list: $color, $n: 2);
    }

    span{
        color: nth($list: $color, $n: 2);
    }

    .consulta{
        font-family: 'Bebas Neue', cursive;
        margin: 10px;
        display: flex;
        align-items: flex-start;
    }

    .textoContactoDemo{
        font-family: 'Bebas Neue', cursive;
        margin-top: 60px;
        text-align: left;
        color: nth($list: $color, $n: 2);
    }

    .demo{
        margin: 10px;
    }

    .botonDemos{
        @include box-model;
    }
}

.ubicacion{
    @extend %flex;
    font-family: 'Bebas Neue', cursive;
    margin: 60px;
    text-align: left;
    color: nth($list: $color, $n: 2);

}

.botonConsultanos{
    @include box-model;
}

.botonReserva{
    @include box-model;
}

.botonLista{
    @include box-model;
}

section{
    .encuentranos{
        margin: 60px;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color: nth($list: $color, $n: 2);       
    }
}

.redes{
       margin: 60px;
       display: flex;
       justify-content: space-around;
       gap: 15px;
    

        .facebook{
            @include medidas (60px, 60px);
        }

        .instagram{
            @include medidas (60px, 60px);
        }

        .soundcloud{
            @include medidas (60px, 60px);
        }
}

section{
    .oficinas{
        font-family: 'Bebas Neue', cursive;
        margin-top: 60px;
        text-align: center;
        color: nth($list: $color, $n: 2);
    }  
    
    .oficinas{
        margin: 60px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.imgOficinas{
        display: flex;            
        margin: 60px;
        justify-content: center;
        gap: 15px;
}

.formulario{
    @extend %flex;
    .sub{
        margin: 60px;
        font-family: 'Bebas Neue', cursive;
        text-align: left;
        color: nth($list: $color, $n: 2);       
    }
}

.formularioContacto{
    .form{
        margin: 60px;
        width: 30vw; 
        align-items: left;   
    }

    input{
        padding: 10px 20px;
        margin-bottom: 1em;
        background: none;
        border: none;
        border-bottom: 1px solid nth($list: $color, $n: 2);
        color: nth($list: $color, $n: 2); 
    }
}

main{
    .quienesSomos{
        margin-top: 90px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: nth($list: $color, $n: 2);
        font-size: 2em;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em; 
    }

    .parrafoHistoria{
        margin: 15px;
        text-align: center;
        font-style: italic;
        color: nth($list: $color, $n: 6);
    }

    .queHacemos{
        margin: 20px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: nth($list: $color, $n: 2);
        font-size: 2em;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em; 
    }

    .parrafoQueHacemos{
        margin: 15px;
        text-align: center;
        font-style: italic;
        color: nth($list: $color, $n: 6); 
    }
}

section{
    .support{
        margin: 20px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: nth($list: $color, $n: 2);
        font-size: 2em;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em; 
    }

    .supporting{
        margin: 20px;
        display: flex;
        justify-content: space-around;
    }
}

.row{
    .dj-support{
        margin-top: 3em;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: nth($list: $color, $n: 2);
        font-size: 2em;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;
    }

    .imgSupport{
        @extend %flex;
        margin: 10px;
    }

    .imgJuicy{
        @include medidas (300px, 300px);
        margin: 10px;
    }
    
    .imgLuca{
        @include medidas (300px, 300px);
        margin: 10px;
    }
    
    .imgMars{
        @include medidas (300px, 300px);
        margin: 10px;
    }

    .more{
        margin: 20px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: nth($list: $color, $n: 2);
        font-size: 2em;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;  
    }
}



.spotifyContacto{
    .imgContacto{
        @include medidas (30px, 30px);
    }
}
    

    
























