/* CSS HOME */

// LISTA
@import "../base/listas";

// MIXIN
@import "../base/mixin";

//EXTEND
@import "../base/extend";

.container-fluid{
    background-color: #404646;
}

.navegacion{
    display: grid;
    justify-content: end;
}

.barraNavegacion{
    ul{
        li{
            a{
                color: azure;
            }
        }
    }
}


.row{
    padding: 0;
    .col-sm-4{
        @extend %flex;
        padding: 0;
    }

    .img-home{
        @include medidas (100px, 100px);
        grid-column: 2 / 3; 
    }

}

.row{
    .rowHome{
        display: grid;
        grid-column: 6 / 12;
        align-items: center;
    }

    .logoLetras{        
        @extend %flex;
    }

    .texto-label{
        padding: 0;  
        color: nth($list: $color, $n: 2);
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        }
}

.banners{
    background-color: #393e46;
    .row{
        @extend %flex;
        margin-top: 0rem;
    }

    .movinBanner{
        width: 100%
    }

    .yourLove{
        width: 100%;
    }

    .revolution{
        width: 100%;
    }
}

.recomendados{
    background-color: $color-body-cards;
}

.artistas{
    .destacados{
        @extend %flex;
        color: nth($list: $color, $n: 2);
        margin: 100px;
        text-align: center;
        font-style: italic;
        font-family: 'Bebas Neue', cursive;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;
    }

    .card{
        display: grid;
        grid-column: 2;
        margin: 10px;



        .card-body{
            background-color: $color-body-cards;
            .card-title{
                text-align: center;
                font-style: italic;
                font-family: 'Bebas Neue', cursive;
            }
            .card-text{
                font-style: italic;
                color: $color-texto-cards;               
            }

            a{
                color: $color-secundario;
            }

            .boton-spotify{
                @extend %flex;
                background-color: $color-footer;
                width: 40%;
                border: none;
                border-radius: 50px;                
            }

            .spotify-link{
                @extend %flex;
            }


        }
    }
}

    .recomendacionesTexto{
        margin: 10px;
        color: nth($list: $color, $n: 2);
        margin-top: 100px;
        text-align: left;
        font-style: italic;
        font-family: 'Bebas Neue', cursive;
        text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;
    }

.section-recomendacionesDos{   
    .recomendacionesDos{
        .recoDos{
            margin: 10px;
            color: nth($list: $color, $n: 2);
            margin-top: 100px;
            text-align: left;
            font-style: italic;
            font-family: 'Bebas Neue', cursive;
            text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;
        }

        .img{
            .filaUno{
                display: flex;
                justify-content: space-between;
                margin-bottom: 90px;
                overflow: hidden;

                .epic{ 
                    @include imagenes;  
                }

                .epic:hover{
                    transform: scale(1.2);
                }

                .shave{
                    @include imagenes;  
                }

                .shave:hover{
                    transform: scale(1.2);
                }

                .bang{
                    @include imagenes; 
                }

                .bang:hover{
                    transform: scale(1.2);
                }
            }

            .filaDos{
                display: flex;
                justify-content: space-between;
                margin-bottom: 90px;                
                overflow: hidden;

                .club-coming-down{
                    @include imagenes;
                }

                .club-coming-down:hover{
                    transform: scale(1.2);
                }

                .for-the-night{
                    @include imagenes;
                }

                .for-the-night:hover{
                    transform: scale(1.2);
                }

                .hope{
                    @include imagenes; 
                }

                .hope:hover{
                    transform: scale(1.2);
                }
            }
        }

    }



    
}    
      

.samples{
    color: nth($list: $color, $n: 2);
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    text-shadow: nth($list: $color, $n: 3) 0.1em 0.1em 0.2em;  
}

.rounded{  
    @include medidas (300px, 300px);  
    margin: 50px;
}

footer{
    background-color: $color-footer;
    text-align: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: nth($list: $color, $n: 3);
    text-transform: uppercase;
    
    .spotify{
        .spotify-img{
            color: black;
            @include medidas (30px, 30px)
        }
    }
} 



.card:hover{
    transform: translateY(-3%);
}


/* MEDIA QUERIES */ 
@media screen and (max-width: 600px){
    .mainHome{
        display: flex;
        justify-content: center;
    }
    .row{
    
        .logoLetras{
            justify-self: center;
            width: 300px;
            height: 300px;
        }
    

    }

    .section-recomendacionesDos{
        .recomendacionesDos{
            .recoDos{
                text-align: center;
            }
            .img{
                .filaUno{
                    display: grid;
                    justify-content: center;
                }
                .filaDos{
                    display: grid;
                    justify-content: center;
                }
            }
        }
    }



}
@media screen and (max-width: 992px){
    .section-recomendacionesDos{
        .recomendacionesDos{
            .recoDos{
                text-align: center;
            }
            .img{
                .filaUno{
                    display: grid;
                    justify-content: center;
                }
                .filaDos{
                    display: grid;
                    justify-content: center;
                }
            }
        }
    }
}