// VARIABLES

$color-primario: rgb(238, 238, 238);
$color-secundario: rgb(3, 3, 3);
$color-terciario: rgb(255, 211, 105);
$color-cuaternario: rgb(34, 40, 49);
$color-body: rgb(44, 51, 51);
$color-footer: rgb(231, 246, 242);
$color-body-cards: rgb(57, 91, 100);
$color-texto-cards: rgb(165, 201, 202);




