$standard: (
    color-standard: black,
    bg-standard: white,
    border-standard: 2px solid black,
    font-standard: 1.5rem,
);

$premium: (
    color-premium: gold,
    bg-premium: black,
    border-premium: 2px solid gold,
    font-premium: 1.5rem,
);