// CON PARAMETROS

@mixin medidas ($width, $height) { 
    width: $width; 
    height: $height;    
}

// SIN PARAMETROS

@mixin box-model{
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    background-color: nth($list: $color, $n: 2);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 3px 11px -5px;
    cursor: pointer;
}